<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572096940131-nhfvj5nk4iptaj37e74gfatt7ulvsd82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572096940131-nhfvj5nk4iptaj37e74gfatt7ulvsd82</string>
	<key>API_KEY</key>
	<string>AIzaSyCkSAv5NmWUuCfULF5eOzqsCrrzdWTSzLg</string>
	<key>GCM_SENDER_ID</key>
	<string>572096940131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutorialflutter2.tutorialFlutter2</string>
	<key>PROJECT_ID</key>
	<string>tutorial-flutter-2</string>
	<key>STORAGE_BUCKET</key>
	<string>tutorial-flutter-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572096940131:ios:c007d65c8eb5d51cd45056</string>
</dict>
</plist>